<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    
    <section class="layout"> 
     <div class="primary">
       <div>product
       </div>
       </div><!--primary-->
       <aside class="secondary">
       <div> product this is side 
       </div>
       </aside><!-- secondary -->
    </section><!--layout-->
    <% include partials/template/footer.ejs %> 
    <% include partials/template/jsdefaults.ejs %>
 
  </body>
</html>
