<header>
<div class="hero">
<section class="layout">
<div class="branding">
<a href="/">
  bbb
</a>
</div> <!-- branding-->
</section> <!-- layout-->
</div> <!-- hero-->

<div class="navigation">
<section class="layout">
<ul class="nav">
<li><a href="/"><i class="icon-home"></i> Home </a></li>
<li><a href="/products"><i class="icon-user"></i> Product </a></li>
<li><a href="/porders"><i class="icon-user"></i> Purchase Order</a></li>
<li><a href="/shipments"><i class="icon-user"></i>Shipment</a></li>
<li><a href="/orders"><i class="icon-user"></i>Order</a></li>

</ul><!--nav-->
</section><!-- layout-->
</div><!--navigation-->
</header>